  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

.logo h1{
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 15px 0;
    border-color: aliceblue;
}
.topo {
    width: 150px; 
    height: auto; 
    float: right;
}
.logo {
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: auto; 
    padding: 0px 0px;
    box-sizing: border-box;
}
h1{
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(to right, #fffaba, #bfdbff);
    margin: 0;
    padding: 15px 0;
}
body{
    background-color: rgb(247, 250, 248);
    font-family: "Pixelify Sans", sans-serif;
    background-image: linear-gradient(to right, #ffbaba, #d4bfff);
}
p{
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-image: linear-gradient(to right, #ff5757, #8c52ff);
}
.menu a{
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
}
section{
    height: 500px;
    padding: 20px;
}
button{
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    text-align: center;
}
img{
    align-items: baseline;
    width: 200px;
    height: 200px;
    align-items: corner; 
}
